.Header-Design {
  background-color: #0062f7;
  color: white;
  text-align: left;
}

html, body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

body > main canvas {
  border: 2px solid black;
  /*background-color: #0062f7;*/
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

body > footer {
  width: 100%;
  height: 7em;
  background-color: #0062f7;
}


/*# sourceMappingURL=header.css.map */
